body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 60px;
}

h1 {
    color: #004d99;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

form,
#response {
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #f2f7fc, #e6ecf0);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

label,
select,
input,
button {
    width: 80%;
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: bold;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #f9d6a3, #f4b16d);
    color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
